<section class="content">

  <h3 class="text-center head-content">Customer Documents</h3>
  <ng-container *ngIf="imgSrcPsportFront!==''">
    <article class="demo-area">

      <h4 class="text-center">Passport Front</h4>
      <img class="demo-trigger" [src]="imgSrcPsportFront" data-zoom="/assets/images/lead-doc-img.jpg" #demoTrgigger>

      <!-- <img class="demo-trigger" src="/assets/images/lead-doc-img.jpg" data-zoom="/assets/images/lead-doc-img.jpg"
      #demoTrgigger> -->
      <div class="detail" #details>
      </div>
    </article>
    <hr/>
  </ng-container>

  <ng-container *ngIf="imgSrcPsportBack!==''">

    <article class="demo-area">

      <h4 class="text-center">Passport Back</h4>
      <img class="demo-trigger" [src]="imgSrcPsportBack" data-zoom="/assets/images/lead-doc-img.jpg" #demoTrgigger>
      <!-- <img class="demo-trigger" src="/assets/images/lead-doc-img.jpg" data-zoom="/assets/images/lead-doc-img.jpg"
      #demoTrgigger> -->
      <div class="detail" #details>
      </div>
    </article>
    <hr/>
  </ng-container>

  <ng-container *ngIf="imgSrcAddressProof!==''">
    <article class="demo-area">
      <h4 class="text-center">Address Proof</h4>
      <img class="demo-trigger" [src]="imgSrcAddressProof" data-zoom="/assets/images/lead-doc-img.jpg" #demoTrgigger>
      <!-- <div>Address Proof</div> -->

      <!-- <img class="demo-trigger" src="/assets/images/lead-doc-img.jpg" data-zoom="/assets/images/lead-doc-img.jpg"
      #demoTrgigger> -->
      <div class="detail" #details>
      </div>
    </article>
    <hr/>
  </ng-container>

  <ng-container *ngIf="imgSrcFrom60!==''">
    <article class="demo-area">
      <h4 class="text-center">Form 60</h4>
      <img class="demo-trigger" [src]="imgSrcFrom60" data-zoom="/assets/images/lead-doc-img.jpg" #demoTrgigger>

      <!-- <img class="demo-trigger" src="/assets/images/lead-doc-img.jpg" data-zoom="/assets/images/lead-doc-img.jpg"
      #demoTrgigger> -->
      <div class="detail" #details>
      </div>
    </article>
    <hr/>
  </ng-container>

  <ng-container *ngIf="imgSrcOci!==''">
    <article class="demo-area">
      <h4 class="text-center">OCI</h4>
      <img class="demo-trigger" [src]="imgSrcOci" data-zoom="/assets/images/lead-doc-img.jpg" #demoTrgigger>

      <!-- <img class="demo-trigger" src="/assets/images/lead-doc-img.jpg" data-zoom="/assets/images/lead-doc-img.jpg"
      #demoTrgigger> -->
      <div class="detail" #details>
      </div>
    </article>
    <hr/>
  </ng-container>

  <ng-container *ngIf="imgSrcVisa!==''">
    <article class="demo-area">
      <h4 class="text-center">Visa</h4>
      <img class="demo-trigger" [src]="imgSrcVisa" data-zoom="/assets/images/lead-doc-img.jpg" #demoTrgigger>

      <!-- <img class="demo-trigger" src="/assets/images/lead-doc-img.jpg" data-zoom="/assets/images/lead-doc-img.jpg"
      #demoTrgigger> -->
      <div class="detail" #details>
      </div>
    </article>
    <hr/>
  </ng-container>

  <ng-container *ngIf="imgSrcPio1!==''">
    <article class="demo-area">
      <h4 class="text-center">Old Passport Front</h4>
      <img class="demo-trigger" [src]="imgSrcPio1" data-zoom="/assets/images/lead-doc-img.jpg" #demoTrgigger>


      <!-- <img class="demo-trigger" src="/assets/images/lead-doc-img.jpg" data-zoom="/assets/images/lead-doc-img.jpg"
      #demoTrgigger> -->
      <div class="detail" #details>
      </div>
    </article>
    <hr/>
  </ng-container>

  <ng-container *ngIf="imgSrcPio2!==''">
    <article class="demo-area">
      <h4 class="text-center">Old Passport Back</h4>
      <img class="demo-trigger" [src]="imgSrcPio2" data-zoom="/assets/images/lead-doc-img.jpg" #demoTrgigger>

      <!-- <img class="demo-trigger" src="/assets/images/lead-doc-img.jpg" data-zoom="/assets/images/lead-doc-img.jpg"
      #demoTrgigger> -->
      <div class="detail" #details>
      </div>
    </article>
    <hr/>
  </ng-container>


  <ng-container *ngIf="imgSrcOtherDoc!==''">
    <article class="demo-area">
      <h4 class="text-center">Other Documents</h4>
      <img class="demo-trigger" [src]="imgSrcOtherDoc" data-zoom="/assets/images/lead-doc-img.jpg" #demoTrgigger>


      <!-- <img class="demo-trigger" src="/assets/images/lead-doc-img.jpg" data-zoom="/assets/images/lead-doc-img.jpg"
      #demoTrgigger> -->
      <div class="detail" #details>
      </div>
    </article>
    
  </ng-container>
  
</section>