<!-- Start right Content here -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <app-right-top-bar></app-right-top-bar>

        <!-- Page content Wrapper starts-->
        <div class="layout-fluid">
            <div class="page-body">
                <div class="container-xl">
                    <app-right-content-pages></app-right-content-pages>
                </div>
            </div>
        </div>
        <!-- Page content Wrapper ends-->



    </div>
    <!--End content -->

    <!---<app-footer ></app-footer>----->

</div>
<!-- End Right content here -->