<div class="dlts-box">

    <div class="dlts-box-item">
        <h2>Current Address</h2>
        <hr>
        <div class="row">
            <div class="col-4">
                <span class="lbl-agent">Address Type</span>
            </div>
            <div class="col-8">
                <span>{{this.jurisdictionAddressTypeName}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span class="lbl-agent">Address</span>
            </div>
            <div class="col-4">
                <span>{{this.currentHouseNumber}}</span>
            </div>
            <div class="col-4">
                <span>{{this.currentHouseOrBuildingName}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
                <span>{{this.currentRoadOrStreetName}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
                <span>{{this.currentLandmark}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <span>{{this.currentState}}</span>
            </div>
            <div class="col-4">
                <span>{{this.currentCity}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <span>{{this.currentCountryName}}</span>
            </div>
            <div class="col-4">
                <span>{{this.currentPincode}}</span>
            </div>
        </div>
    </div>

    <div class="dlts-box-item">
        <h2>Overseas Address</h2>
        <hr>
        <div class="row">
            <div class="col-4">
                <span class="lbl-agent">Address Type</span>
            </div>
            <div class="col-8">
                <span>{{this.overseasAddressTypeName}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span class="lbl-agent">Address</span>
            </div>
            <div class="col-4">
                <span>{{this.overseasHouseNumber}}</span>
            </div>
            <div class="col-4">
                <span>{{this.overseasHouseOrBuildingName}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
                <span>{{this.overseasRoadOrStreetName}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
                <span>{{this.overseasLandmark}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <span>{{this.overseasState}}</span>
            </div>
            <div class="col-4">
                <span>{{this.overseasCity}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <span>{{this.overseasCountryName}}</span>
            </div>
            <div class="col-4">
                <span>{{this.overseasPincode}}</span>
            </div>
        </div>
    </div>

    <div class="dlts-box-item">
        <h2>Permanent Address</h2>
        <hr>
        <div class="row">
            <div class="col-4">
                <span class="lbl-agent">Address Type</span>
            </div>
            <div class="col-8">
                <span>{{this.permenantAddressType}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span class="lbl-agent">Address</span>
            </div>
            <div class="col-4">
                <span>{{this.permenantHouseNumber}}</span>
            </div>
            <div class="col-4">
                <span>{{this.permenantHouseOrBuildingName}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
                <span>{{this.permenantRoadOrStreetName}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
                <span>{{this.permenantLandmark}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <span>{{this.permenantState}}</span>
            </div>
            <div class="col-4">
                <span>{{this.permenantCity}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <span>{{this.permanentCountryName}}</span>
            </div>
            <div class="col-4">
                <span>{{this.permenantPincode}}</span>
            </div>
        </div>
    </div>

    <div class="dlts-box-item">
        <h2>Permanent Address</h2>
        <hr>
        <div class="row">
            <div class="col-4">
                <span class="lbl-agent">Address Type</span>
            </div>
            <div class="col-8">
                <span>{{this.jurisdictionAddressType}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <span class="lbl-agent">Address</span>
            </div>
            <div class="col-4">
                <span>{{this.jurisdictionHouseNumber}}</span>
            </div>
            <div class="col-4">
                <span>{{this.jurisdictionHouseOrBuildingName}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
                <span>{{this.jurisdictionRoadOrStreetName}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
                <span>{{this.jurisdictionLandmark}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <span>{{this.jurisdictionState}}</span>
            </div>
            <div class="col-4">
                <span>{{this.jurisdictionCity}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <span>{{this.jurisdictionCountrieName}}</span>
            </div>
            <div class="col-4">
                <span>{{this.jurisdictionPincode}}</span>
            </div>
        </div>
    </div>

    <form [formGroup]="addressDtlsForm">
        <ng-container *ngIf="isDislplayCommentTextArea===true">
            <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Your Comments"
                formControlName="comments" #commentSection></textarea>
            </ng-container>
    
            <ng-container *ngIf="isDisplayAddComment===true">
                <button type="button" class="btn btn-danger w-md waves-effect waves-light mt-2" (click)="addComment()">
                    Add Comments
                </button>
            </ng-container>
    
            <ng-container *ngIf="isDislplayCommentUpdateBtn===true">
                <button type="button" class="btn btn-danger w-md waves-effect waves-light mt-2" (click)="updateComment()">
                    Update Comments
                </button>
            </ng-container>
    
            <div class="row">
                <ng-container *ngIf="isDisplayEditDeleteCommentSection===true">
                    <div class="col-md-12">
                        <h2>Comments</h2>
                    </div>
        
                    <div class="col-md-8">{{this.commentData}}</div>
                    <div class="col-md-2"><i class="ion-edit" (click)="editComment()"></i></div>
                    <div class="col-md-2"><i class="ion-trash-b" (click)="checkDeleteComment()"></i></div>
        
                </ng-container>
            </div>
              
            <hr>
            <div class="btns-arrange-dtls">
                
                <ng-container *ngIf="isDisplayAddApprove===true">
                    <button type="button" class="btn btn-success w-md waves-effect waves-light" (click)="approveLead()">Approve this
                        section</button>
                </ng-container>
    
                
                <ng-container *ngIf="isDisplayProceedNext===true">
                    <button type="button" class="btn btn-primary w-md waves-effect waves-light"
                        (click)="proceedNext()">Proceed
                        to
                        next section</button>
                </ng-container>
    
            </div>
            <ng-container *ngIf="isApproved===true">
                <h3>{{this.approveMsg}}</h3>
            </ng-container>
    </form>
</div>



<div class="modal text-danger" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h4 class="modal-title">{{this.loginFailedErr}}</h4> -->
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">

                <button type="button" class="btn btn-danger" style="margin:10px"
                    (click)="deleteComment()">Delete</button>
                <button type="button" class="btn btn-primary" style="margin:10px"
                    (click)="onCloseHandled()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal text-danger" tabindex="-1" role="dialog" [ngStyle]="{'display':displayCommentErr}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Please add comment</h4>
                <button type="button" class="close" aria-label="Close" (click)="closeModalComment()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
        </div>
    </div>
</div>